<div class="container mt-4">
  
  <div class="col-lg col-sm-12 col-xs-12">
    
    <table class="table table-striped">
      
      <thead>
        <tr class="bg-info text-light">
          <td>ID</td>
          <td>Name</td>
          <td>Email</td>
          <td>Role_Id</td>
          <td>Delete</td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor = "let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roleId}}</td>
          <td>
            <button class="btn btn-danger" (click)="handleDeleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
