<div class="container mt-4 mb-8">

  <div class="row text-center">
    <h3>{{ageHisto.image_title}}</h3>
    <img src="{{ageHisto.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{scoreHisto.image_title}}</h3>
    <img src="{{scoreHisto.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{incomeHisto.image_title}}</h3>
    <img src="{{incomeHisto.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{countPlot.image_title}}</h3>
    <img src="{{countPlot.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{clusters.image_title}}</h3>
    <img src="{{clusters.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <span class="mt-4 mb-4"></span>
  
</div>
