<div class="container mt-4 mb-8">

  <div class="row text-center">
    <h3>{{histo1.image_title}}</h3>
    <img src="{{histo1.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{histo2.image_title}}</h3>
    <img src="{{histo2.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{histo3.image_title}}</h3>
    <img src="{{histo3.image_url}}" alt="" style="width:500px;height:250px">
  </div>

  <div class="row text-center">
    <h3>{{histo4.image_title}}</h3>
    <img src="{{histo4.image_url}}" alt="" style="width:500px;height:250px">
  </div>
  <span class="mt-4 mb-4"></span>
  
</div>
